<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>listado de integrantes</title>
</head>
<body>
    <h1>Integrantes</h1>
    <h2>Listado</h2>
    <section>
        <table>
            <tr>
                <th>Matrícula</th>
                <th>Nombre</th>
                <th>Apellido</th>               
            </tr>
            {{#each integrantes}}
            <tr>
                <td>{{this.matricula}}</td>
                <td>{{this.nombre}}</td>
                <td>{{this.apellido}}</td>
            </tr>            
            {{/each}}
        </table>
        <section>
             {{#if integrantes.length}}
            
        {{else}}
            <span>No hay datos de integrantes registrados</span>
        {{/if}}
        </section>
       
    </section>
    <a class="Crearnuevo" href="/admin/integrantes/crear">Crear Nuevo</a>
    <a href="/admin">Volver</a>
</body>
</html>