<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>listado del tipo de media</title>
</head>
<body>
    <h1>Listado de tipos</h1>
    <section>
        <table>
            <tr>
                <th>id</th>
                <th>nombre</th>               
            </tr>
            {{#each media}}
            <tr>
                <td>{{this.id}}</td>
                <td>{{this.nombre}}</td>
            </tr>            
            {{/each}}
        </table>
        <section>
             {{#if media.length}}
            
        {{else}}
            <span>No hay datos de tipo de media registrados</span>
        {{/if}}
        </section>
       
    </section>
    <a href="/admin">Volver</a>
</body>
</html>