<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>crear medios</title>
</head>
<body>
    <h1>ingresar contenido</h1>
    <section class="form_crear">
        <form action="/admin/media2/create" method="post">
            <fieldset>
                <legend>Medio</legend>
                <label for="matricula">Matricula</label>
                <input id="matricula" name="matricula" type="text" required>
                
                <label for="nombre">Nombre</label>
                <input id="nombre" name="nombre" type="text" required>

                <label for="url">url</label>
                <input id="url" name="url" type="url">

                <label for="titulo">titulo</label>
                <input id="titulo" name="titulo" type="text" required>

                <label for="src">src</label>
                <input id="src" name="src" type="file">


            
            </fieldset>
            <input type="submit" value="Crear">
        </form>
    </section>
    <a class="volver" href="/admin/media2/listar">Volver</a>

    
</body>
</html>