<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>listado de media</title>
</head>
<body>
    <h1>Listado de medios</h1>
    <section>
        <table>
            <tr>
                <th>id</th>
                <th>matricula del integrante</th>
                <th>nombre</th>
                <th>url</th>   
                <th>titulo</th>  
                <th>src</th>          
            </tr>
            {{#each media2}}
            <tr>
                
                <td>{{this.id}}</td>
                <td>{{this.matricula}}</td>
                <td>{{this.nombre}}</td>
                <td><iframe src="{{this.url}}" frameborder="0"></iframe></td>
                <td>{{this.titulo}}</td>
                <td><img style="height: 100px; width: 100px;" src="{{this.src}}" alt="{{this.titulo}}"></td>
            </tr>            
            {{/each}}
        </table>
        <section>
             {{#if media2.length}}
            
        {{else}}
            <span>No hay datos de tipo de media registrados</span>
        {{/if}}
        </section>
       
    </section>
    <a class="Crear nuevo" href="/admin/media2/crear">Crear Nuevo</a>
    <a href="/admin">Volver</a>
    
</body>
</html>